{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load static%}
{% block content %}


<div style="margin-top:100px;" class="container">
   {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
  <!-- FORM HERE -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mt-3">Reservations</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group text-center">
      <button class="col-md-4 btn btn-dark" type="submit">Reserve</button>
    </div>
  </form>
</div>
<iframe src="https://www.vcita.com/widgets/scheduler/8xpcw7yet2jcayn3?frontage_iframe=true&ver=2" width="100%" height="508"  frameborder="0" style=" ">
  <p>Use my online scheduling page by vcita to schedule an appointment with me:</p>
  <a href='https://www.vcita.com/v/8xpcw7yet2jcayn3/online_scheduling?frontage_iframe=true&invite=vr_sched_pb-8xpcw7yet2jcayn3'>Online Scheduling with Pitch Project</a>
</iframe>


{% endblock %}