{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<div class="contaner-fluid">
<div class="container-fluid" style="background-color:#fff;">
    <img src="https://user-images.githubusercontent.com/66039545/174707015-b48c5d1f-de82-441f-a157-92c957750bb3.png" alt=""
        style="width: 100%; height:100%; " />
<div class="text-center">
    <a style="margin-top:-80px; color:#A5694B;" <button type="button" class="btn btn-light mb-4"
        href="{% url 'deals' %}">View Deals</button>
    </a>
</div>
</div>

<div class="container mt-3">
    <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="text-center">What is Meet Up Mtaani?
    </h2>
    <p>MeetUp Mtaani is a community building webapp which gives people the opportunity to organise groups and host in-person
        events for people with similar interest.</p>
</div>
</div>

<div class="section2 mt-5">
    <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="text-center"> Meet Up Mtaani Deals</h2>
    <div class="container py-5">
        <div class="row row_branchen">


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <a href="#">
                        <div class="image__wrapper">
                            <div class="card__shadow--1"></div>
                            <img class="card-img-top" src="/media/landing1.png"
                                alt="Angebote - Verkaufsautomaten">
                        </div>
                        <div class="card-body pb-4">
                            <h3 class="card-title"><span style="color:#A5694B;font-size:20px;font-weight:bold">Workspace</span></h3>
                            <p class="card-text"><span style="color:#000;font-size:15">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</span></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <a href="">
                        <div class="image__wrapper">
                            <div class="card__shadow--1"></div>
                            <img class="card-img-top" src="/media/landing2.png"
                                alt="Angebote Wasserspender">
                        </div>
                        <div class="card-body pb-4">
                            <h3 class="card-title"><span style="color:#A5694B;font-size:20px;font-weight:bold">Chill Space</span></h3>
                            <p class="card-text"><span style="color:#000;font-size:15px">Choose from our range of chill spots rooms that people can use to relax
                                in, for example at a dance club or office: The club has three rooms, a chill room, and
                                two dance.</span></p>
                        </div>

                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <a href="">
                        <div class="image__wrapper">
                            <div class="card__shadow--1"></div>
                            <img class="card-img-top" src="/media/landing3.png"
                                alt="Angebote Wasserspender">
                        </div>
                        <div class="card-body pb-4">
                            <h3 class="card-title"><span style="color:#A5694B;font-size:20px;font-weight:bold">Picnic</span></h3>
                            <p class="card-text"><span style="color:#000;font-size:15px;"> from our range of picnic sites at affordable prices carefully
                                selected within serene enviroments.</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="container mt-5 text-center">
            <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700;"> What our clients say about us...</h2>
            <div class="row text-center">

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0" style="color: #A5694B; font-size: 15px;">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">What you
                            see is what you get</span>
                    </div>
                </div><!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-team/teacher-2.jpg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0" style="color: #A5694B; font-size: 15px;">Samuel Hardy</h5><span class="small text-uppercase text-muted">Highly recommed
                            will definetly book again</span>

                    </div>
                </div><!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-team/teacher-1.jpg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0" style="color: #A5694B; font-size: 15px;">Tom Sunderland</h5><span class="small text-uppercase text-muted">Got value for
                            every dime I spent</span>

                    </div>
                </div><!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0" style="color: #A5694B; font-size: 15px;">John Tarly</h5><span class="small text-uppercase text-muted">What you see is
                            what you get</span>
                    </div>
                </div><!-- End -->
            </div>
        </div>
    </div>

{% endblock %}