{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static%}
{% block content %}

<div style="background-color:#FFFFFF" class="container mt-5">
    <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700; margin-top:100px;" class="text-center">She's Mine
        Deals</h2>

    <div class="container">
        <div class="row gy-3">
            <div class="col-sm">
                <div class="card h-90">
                    <img src="/media/hike2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Hike bike
                            trails of nature</h5>
                        <p class="card-text"> When summertime rolls in and the days get hot enough that you need to cool
                            off from the blazing heat, nothing beats packing up and heading to the beach</p>
                          <div class="text-center">
                            
                         <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a>  

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-80">
                    <img src="/media/campfire.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Crest Way
                            Palm Island Camp Fire</h5>
                        <p class="card-text"> Watch the sunset. How does that make you feel? Does it make you feel big
                            or tiny? Because there's something good about feeling both.</p>

                        <div class="text-center">
                              <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
        </a> 
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-80">
                    <img src="/media/picnic2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Hillcrest
                            Picnic Scene</h5>
                        <p class="card-text">Speaks nature full of love and green, glasses full to the brim, cherry on
                            top of the cream! Eyes on the price clear blue skies, and ever-present sunshine.</p>
                         <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2 ms-5" id="rsvp">Make Payment
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div style="background-color:#FFFFFF" class="container mt-5">
    <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="text-center">Picnic in a Nick</h2>
    <div class="container">
        <div class="row gy-3">
            <div class="col-sm">
                <div class="card h-100">
                    <img src="/media/picnic1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style=" color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Sunset
                            By The Hillside</h5>
                        <p class="card-text">When summertime rolls in and the days get hot enough that you need to cool
                            off from the blazing heat.</p>
                          <div class="text-center">
                              <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-4" id="rsvp">Make Payment
                        </a> 

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img src="/media/deal3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Crest Way
                            Palm Island</h5>
                        <p class="card-text"> Watch the sunset. How does that make you feel? Does it make you feel big
                            or tiny? Because there's something good</p>
                            <div class="text-center">
                         <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a>
                    </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img styele="object-fit: cover;" src="/media/picnic2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Hillcrest
                            Picnic Scene</h5>
                        <p class="card-text">Speaks nature full of love and green, glasses full to the brim, cherry on
                            top of the cream!</p>
                          <div class="text-center">
                            <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div style="background-color:#FFFFFF" class="container mt-5">
    <h2 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="text-center">Workspace Deals</h2>
    <div class="container">
        <div class="row gy-3">
            <div class="col-sm">
                <div class="card h-100">
                    <img src="/media/workspace1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style=" color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Summer
                            Office Space</h5>
                        <p class="card-text">When summertime rolls in and the days get hot enough that you need to cool
                            off from the blazing heat</p>
                            <div class="text-center">
                          <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img src="/media/workspace2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">Wooden
                            Crest Offices</h5>
                        <p class="card-text"> Watch the sunset. How does that make you feel? Does it make you feel big
                            or tiny? Because there's something good.</p>
                            <div class="text-center">
                          <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a> 
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img src="/media/workspace3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:#A5694B; font-family: Italiana; font-weight: 700;" class="card-title">
                            Whitespace Offices</h5>
                        <p class="card-text">Speaks nature full of love and green, glasses full to the brim, cherry on
                            top of the cream!</p>
                          <div class="text-center">
                              <a href="https://live.vcita.com/site/8xpcw7yet2jcayn3/make-payment" class="btn btn-dark mt-2" id="rsvp">Make Payment
                        </a> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}